.chartWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.chart {
    width: 300px;
    height: 270px;
    min-height: 270px;
}

.chartTitle {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: -0.02em;
    margin: 5px 5px 5px -10px;
}

@media only screen and (max-width: 1339px) {
    .chart {
        margin-left: -12px;
    }
}

@media only screen and (max-width: 1023px) {
    .chart {
        max-width: 310px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 767px) {
    .chart {
        padding-left: 10px;
    }
}

.legend {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 32px;
}

.indicator {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    margin: 10px;
    line-height: 1.3333333333;
}

.color {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border-radius: 4px;
}
