.line {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #EFEFEF;
}
:global(.dark-mode) .line {
    border-color: #272B30;
}

.title {
    margin-right: 24px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.7142857143;
    color: #33383F;
}
:global(.dark-mode) .title {
    color: #EFEFEF;
}

.tooltip {
    position: relative;
    top: -1px;
}
.tooltip svg {
    fill: #9A9FA5;
}

.button {
    margin-left: auto;
}

.content {
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.7142857143;
}
